@model E_CommerceWebApp.ViewModel.PagedViewModel< IEnumerable<E_CommerceWebApp.Models.Product>>
@{
    var imageWidth = 150;
    var imageHeight = "auto";

    int pageSize = Model.PageSize;
}
<h1>Product Managment page</h1>

<div class="row">
    <div class="col">
        <a type="button" class="btn btn-success" asp-action="Create"><i class="bi bi-plus-square"></i> Create New</a>
    </div>
    <div class="col">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                View Count
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-action="" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="10">10</a></li>
                <li><a class="dropdown-item" asp-action="" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="20">20</a></li>
                <li><a class="dropdown-item" asp-action="" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="50">50</a></li>
            </ul>
        </div>
    </div>

</div>
@if (Model.Data.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @if (item.ProductImage == null)
                        {
                            <!-- Product image-->
                            <img width="@imageWidth" height="@imageHeight" object-fit="cover" ;class="card-img-top" src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
                        }
                        else
                        {
                            <img width="@imageWidth" height="@imageHeight" object-fit="cover" src="data:image/*;base64,@(Convert.ToBase64String(item.ProductImage.ImageData))" class="img-thumbnail" alt="" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a type="button" class="btn btn-info text-white" asp-action="Update" asp-route-productID="@item.ProductID"><i class="bi bi-pencil-square"></i> Update</a>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-productID="@item.ProductID"><i class="bi bi-trash"> Delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-action="" asp-route-pageNumber="1" asp-route-pageSize="@pageSize" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-action="" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@pageSize" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="page-item"><a class="page-link">@Model.PageNumber</a></li>

        <li class="page-item">
            <a class="page-link" asp-action="" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@pageSize" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-action="" asp-route-pageNumber="@Model.LastPage" asp-route-pageSize="@pageSize" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>