<!-- _ProductPartial.cshtml -->
@model Product
@{
    var imageWidth = "auto";
    var imageHeight = 150;
}
<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        @if (Model.ProductImage == null)
        {
            <!-- Product image-->
            <img width="@imageWidth" height="@imageHeight" object-fit="cover" ;class="card-img-top" src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg" alt="..." />
        }
        else
        {
            <img width="@imageWidth" height="@imageHeight" object-fit="cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProductImage.ImageData))" class="img-thumbnail" alt="" />
        }
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">@Model.ProductName</h5>
                <!-- Product description-->
                <h5>@Model.Description</h5>
                <!-- Product price-->
                $@Model.Price
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <form method="post" asp-page-handler="ItemClicked">
                    <button class="btn btn-outline-dark mt-auto">Add me</button>
                    <input type="hidden" name="itemID" value="@Model.ProductID" />
                </form>
            </div>
        </div>
    </div>
</div>
